.App {
  text-align: center;
}

.convert {
  display: flex;
  justify-items: center;
  align-content: center;
  border: 2px solid red;
  width: 100px;
  height: 25px;
}

.convert:hover {
  cursor: pointer;
  background-color: red;
  color: white;
} 